import(methods)
export(probe.camera, probe.movie, test.camera, videobuffer,
       read.movie, record.video, plotframe, plotpixels,
       init.camera)
S3method(print, videobuffer)
useDynLib(bigvideo)

