import(methods)
export(uuid,boost.mutex)
exportClasses(
  mutex,
  boost.mutex)
exportMethods(
  lock, 
  lock.shared,
  unlock,
  is.timed,
  shared.name,
  describe,
  attach.resource)
useDynLib(synchronicity)
