#import(methods)
export(uuid)
exportClasses(
  named.exclusive.lock.call,
  named.sharable.lock.call,
  boost.named.sharable.lock.call,
  boost.named.sharable.timed.lock.call)
exportMethods(
  lock, 
  try.lock,
  lock.shared,
  try.lock.shared,
  unlock,
  unlock.shared,
  destroy.resource)
useDynLib(synchronicity)
